<div class="conteiner">
    <h1>Админка</h1>

    <a asp-area="default" asp-controller="Users" asp-action="Index"> Пользователи</a>
    <a asp-area="default" asp-controller="Categories" asp-action="Index"> Категории</a>
    <a asp-area="default" asp-controller="Posts" asp-action="Index"> Посты </a>

</div>