


<div class="col-md-1 position-fixed top-1 end-0">
    <ul class="list-group">

      @*  @foreach (var item in Model)
        {
            if ("admin" == item.UserName)
            {
                <li class="list-group-item bg-success">@item.UserName</li>
            }
            else
            {
                <li class="list-group-item ">@item.UserName</li>
            }

        }*@
    </ul>
</div>